@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-off-white: hsl(0, 0%, 94%);
  --color-light-grey: hsl(0, 0%, 86%);
  --color-smokey-grey: hsl(0, 1%, 44%);
  --color-off-black: hsl(0, 0%, 8%);
  --color-purple: hsl(259, 100%, 65%);
  --color-light-red: hsl(0, 100%, 67%);
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: inherit;
  /* font-family: 'M PLUS Rounded 1c', sans-serif;
font-family: 'Poppins', sans-serif; */
}
body {
  background-color: var(--color-off-black);
  color: var(--color-off-white);
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
header {
  padding: 1rem 4rem;
  width: 100%;
  min-height: 10vh;
  background-color: rgb(44, 44, 44);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.156);
  border-bottom: 2px solid rgba(255, 255, 255, 0.055);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
}

header h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(0, 102, 255),
    rgb(255, 6, 151),
    rgb(255, 187, 0)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.1;
  text-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
}
header h1 span {
  font-size: 0.8rem;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

header .input {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input label {
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(255, 255, 255, 0.055);
  cursor: pointer;
  text-align: center;
}
.input label:hover {
  background-color: rgb(31, 31, 31);
}
main {
  padding: 1rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.display-img {
  max-width: 600px;
  max-height: 400px;
  border-radius: 10px;
  margin: 30px 0 10px 0;
}
.colors-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.color-box {
  position: relative;
  list-style: none;
  width: 16rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.25s ease-in-out;
}
.color-box:hover {
  transform: translateY(-5px);
}
.color-box span {
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px black;
}
@media (max-width: 560px) {
  .display-img {
    max-width: 400px;
  }
  .color-box {
    width: 8rem;
    height: 3rem;
  }
  header {
    padding: 1rem 1rem;
  }
}
@media (max-width: 380px) {
  .display-img {
    max-width: 350px;
  }
}
/*////////////////////*/
.unselectable {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
